<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Fantasy F1{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Fantasy F1 App</h1>
        <nav>
            <a href="{{ url_for('home') }}">Home</a> |
            <a href="{{ url_for('scores_view') }}">Full Data</a> |
            <a href="{{ url_for('logout') }}">Logout</a>
        </nav>
        
        <hr>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
