{% extends "base.html" %}

{% block content %}
<!-- Welcome Section -->
<div class="text-center mb-8">
  <h2 class="text-3xl font-semibold text-gray-100">Welcome, {{ username }}!</h2>
  <p class="text-lg text-gray-400">Role: <span class="text-red-500">{{ role }}</span></p>
  <p class="mt-2 text-lg text-gray-300">
    <em>Please select drivers for races you have not selected yet - see hyperlinks below.</em>
  </p>
</div>

<!-- Leaderboard Section -->
<h3 class="text-2xl font-semibold mt-8 mb-4 text-gray-100">Current Leaderboard</h3>
<ul class="space-y-2">
  {% for user, score in sorted_scores %}
  <li class="text-lg text-gray-300">
    <span class="font-medium text-gray-100">{{ user }}:</span> {{ score }} points
  </li>
  {% endfor %}
</ul>



<!-- Race Schedule Section -->
<h3 class="text-2xl font-semibold mb-4 text-gray-100">Race Schedule</h3>
<div class="overflow-x-auto bg-gray-800 rounded-lg shadow-lg">
  <table class="min-w-full table-auto text-sm text-gray-300">
    <thead class="bg-gray-700">
      <tr>
        <th class="px-4 py-2">Round</th>
        <th class="px-4 py-2">Race</th>
        <th class="px-4 py-2">Date</th>
        <th class="px-4 py-2">Driver</th>
        <th class="px-4 py-2">Points</th>
      </tr>
    </thead>
    <tbody>
      {% for race in races %}
      <tr class="hover:bg-gray-700 {{ 'bg-yellow-500' if race.you_are_here else '' }}" 
      style="color: {{ 'black' if race.you_are_here else 'inherit' }};">
         <td class="px-4 py-2 text-center">
          {% if race.round %}
          Round {{ race.round }}
          {% else %}
          &nbsp;
          {% endif %}
        </td>
        <td class="px-4 py-2">{{ race.title }}</td>
        <td class="px-4 py-2">{{ race.formatted_date  }}</td>
        <td class="px-4 py-2">
          {% if race.you_are_here %}
            &nbsp;
          {% elif race.can_select_driver %}
            {% if race.selected_driver %}
            <a href="{{ url_for('select_driver', race_round=race.round) }}" class="text-blue-500 hover:text-blue-700">
              {{ race.selected_driver }} (Edit)
            </a>
            {% else %}
            <a href="{{ url_for('select_driver', race_round=race.round) }}" class="text-blue-500 hover:text-blue-700">
              Select Driver
            </a>
            {% endif %}
          {% else %}
            {{ race.selected_driver or '&nbsp;' }}
          {% endif %}
        </td>
        <td class="px-4 py-2 text-center">
          {% if race.points is not none %}
          {{ race.points }}
          {% elif race.you_are_here %}
          &nbsp;
          {% else %}
          N/A
          {% endif %}
        </td>
      </tr>
      
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
